resources/Rastro_schema1.xsd

<?xml version="1.0" encoding="UTF-8"?><!--Generated by the JavaTM Architecture for XML Binding(JAXB) Reference Implementation, (build IBM 2.2.3-07/05/2013 05:25 AM(foreman)-)
See <a href="http://java.sun.com/xml/jaxb">http://java.sun.com/xml/jaxb</a> --><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://resource.webservice.correios.com.br/" version="1.0" targetNamespace="http://resource.webservice.correios.com.br/">
  <xs:element name="ListaEntregaExterna" type="tns:ListaEntregaExterna"></xs:element>
  <xs:element name="ListaEntregaExternaResponse" type="tns:ListaEntregaExternaResponse"></xs:element>
  <xs:element name="RastroJson" type="tns:RastroJson"></xs:element>
  <xs:element name="RastroJsonResponse" type="tns:RastroJsonResponse"></xs:element>
  <xs:element name="UnidadesSRO" type="tns:UnidadesSRO"></xs:element>
  <xs:element name="UnidadesSROResponse" type="tns:UnidadesSROResponse"></xs:element>
  <xs:element name="buscaEventos" type="tns:buscaEventos"></xs:element>
  <xs:element name="buscaEventosLista" type="tns:buscaEventosLista"></xs:element>
  <xs:element name="buscaEventosListaResponse" type="tns:buscaEventosListaResponse"></xs:element>
  <xs:element name="buscaEventosResponse" type="tns:buscaEventosResponse"></xs:element>
  <xs:element name="destino" type="tns:destinos"></xs:element>
  <xs:element name="endereco" type="tns:enderecoMobile"></xs:element>
  <xs:element name="evento" type="tns:eventos"></xs:element>
  <xs:element name="objeto" type="tns:objeto"></xs:element>
  <xs:element name="rastro" type="tns:sroxml"></xs:element>
  <xs:complexType name="buscaEventosLista">
    <xs:sequence>
      <xs:element name="usuario" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="senha" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="tipo" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="resultado" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="lingua" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="objetos" type="xs:string" minOccurs="0" maxOccurs="unbounded"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buscaEventosListaResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:sroxml" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sroxml">
    <xs:sequence>
      <xs:element name="versao" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="qtd" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="TipoPesquisa" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="TipoResultado" type="xs:string" minOccurs="0"></xs:element>
      <xs:element ref="tns:objeto" minOccurs="0" maxOccurs="unbounded"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="objeto">
    <xs:sequence>
      <xs:element name="numero" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="sigla" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="nome" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="categoria" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="erro" type="xs:string" minOccurs="0"></xs:element>
      <xs:element ref="tns:evento" minOccurs="0" maxOccurs="unbounded"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eventos">
    <xs:sequence>
      <xs:element name="tipo" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="status" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="data" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="hora" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="descricao" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="detalhe" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="recebedor" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="documento" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="comentario" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="local" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="codigo" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="cidade" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="uf" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="sto" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="amazoncode" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="amazontimezone" type="xs:string" minOccurs="0"></xs:element>
      <xs:element ref="tns:destino" minOccurs="0" maxOccurs="unbounded"></xs:element>
      <xs:element ref="tns:endereco" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="destinos">
    <xs:sequence>
      <xs:element name="local" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="codigo" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="cidade" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="bairro" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="uf" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="enderecoMobile">
    <xs:sequence>
      <xs:element name="codigo" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="cep" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="logradouro" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="complemento" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="numero" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="localidade" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="uf" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="bairro" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="latitude" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="longitude" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="celular" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buscaEventos">
    <xs:sequence>
      <xs:element name="usuario" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="senha" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="tipo" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="resultado" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="lingua" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="objetos" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buscaEventosResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:sroxml" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ListaEntregaExterna">
    <xs:sequence>
      <xs:element name="loec" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ListaEntregaExternaResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:listaEntregaExterna" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listaEntregaExterna">
    <xs:sequence>
      <xs:element name="carteiro" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="data" type="xs:dateTime" minOccurs="0"></xs:element>
      <xs:element name="distrito" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="estacao" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="id" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="loec" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="nomeCarteiro" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="nomeUnidade" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="objetos" type="tns:objetoPostal" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
      <xs:element name="unidade" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="objetoPostal">
    <xs:sequence>
      <xs:element name="agrupamento" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="avisoRecebimento" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="devolucaoDocumento" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="devolucaoObjeto" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="maoPropria" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="numeroObjeto" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RastroJson">
    <xs:sequence>
      <xs:element name="usuario" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="senha" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="tipo" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="resultado" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="lingua" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="objetos" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RastroJsonResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UnidadesSRO">
    <xs:sequence>
      <xs:element name="codigoSRO" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UnidadesSROResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:registroUnidades" minOccurs="0" maxOccurs="unbounded"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="registroUnidades">
    <xs:sequence>
      <xs:element name="codigoDR" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="codigoMCU" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="codigoSRO" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="nomeUnidade" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="siglaDR" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="siglaTipoUnidade" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="tipoUnidade" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
