resources/Rastro.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="rastro" targetNamespace="http://resource.webservice.correios.com.br/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:tns="http://resource.webservice.correios.com.br/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://resource.webservice.correios.com.br/" schemaLocation="Rastro_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="ListaEntregaExternaResponse">
    <part name="parameters" element="tns:ListaEntregaExternaResponse">
    </part>
  </message>
  <message name="UnidadesSROResponse">
    <part name="parameters" element="tns:UnidadesSROResponse">
    </part>
  </message>
  <message name="UnidadesSRO">
    <part name="parameters" element="tns:UnidadesSRO">
    </part>
  </message>
  <message name="RastroJson">
    <part name="parameters" element="tns:RastroJson">
    </part>
  </message>
  <message name="buscaEventosResponse">
    <part name="parameters" element="tns:buscaEventosResponse">
    </part>
  </message>
  <message name="RastroJsonResponse">
    <part name="parameters" element="tns:RastroJsonResponse">
    </part>
  </message>
  <message name="buscaEventosLista">
    <part name="parameters" element="tns:buscaEventosLista">
    </part>
  </message>
  <message name="buscaEventosListaResponse">
    <part name="parameters" element="tns:buscaEventosListaResponse">
    </part>
  </message>
  <message name="buscaEventos">
    <part name="parameters" element="tns:buscaEventos">
    </part>
  </message>
  <message name="ListaEntregaExterna">
    <part name="parameters" element="tns:ListaEntregaExterna">
    </part>
  </message>
  <portType name="Service">
    <operation name="buscaEventos">
      <input message="tns:buscaEventos" wsam:Action="buscaEventos">
    </input>
      <output message="tns:buscaEventosResponse" wsam:Action="http://resource.webservice.correios.com.br/Service/buscaEventosResponse">
    </output>
    </operation>
    <operation name="buscaEventosLista">
      <input message="tns:buscaEventosLista" wsam:Action="buscaEventosLista">
    </input>
      <output message="tns:buscaEventosListaResponse" wsam:Action="http://resource.webservice.correios.com.br/Service/buscaEventosListaResponse">
    </output>
    </operation>
    <operation name="RastroJson">
      <input message="tns:RastroJson" wsam:Action="RastroJson">
    </input>
      <output message="tns:RastroJsonResponse" wsam:Action="http://resource.webservice.correios.com.br/Service/RastroJsonResponse">
    </output>
    </operation>
    <operation name="ListaEntregaExterna">
      <input message="tns:ListaEntregaExterna" wsam:Action="ListaEntregaExterna">
    </input>
      <output message="tns:ListaEntregaExternaResponse" wsam:Action="http://resource.webservice.correios.com.br/Service/ListaEntregaExternaResponse">
    </output>
    </operation>
    <operation name="UnidadesSRO">
      <input message="tns:UnidadesSRO" wsam:Action="UnidadesSRO">
    </input>
      <output message="tns:UnidadesSROResponse" wsam:Action="http://resource.webservice.correios.com.br/Service/UnidadesSROResponse">
    </output>
    </operation>
  </portType>
  <binding name="ServicePortBinding" type="tns:Service">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="buscaEventos">
      <soap:operation soapAction="buscaEventos"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="buscaEventosLista">
      <soap:operation soapAction="buscaEventosLista"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="RastroJson">
      <soap:operation soapAction="RastroJson"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ListaEntregaExterna">
      <soap:operation soapAction="ListaEntregaExterna"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="UnidadesSRO">
      <soap:operation soapAction="UnidadesSRO"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="rastro">
    <port name="ServicePort" binding="tns:ServicePortBinding">
      <soap:address location="http://webservice.correios.com.br:80/service/rastro"/>
    </port>
  </service>
</definitions>
